html {

}

body {
  background-color: #000;
}

.main-content {
  padding-top: 80px;
}

/* Typography
------------------------------------- */
h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    font-size: 62px;
    line-height: 72px;
}

h2 {
    color: #323232;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 1px;
    padding-bottom: 12px;
}

h3, h4 {
    color: #000;
    font-size: 16px;
    letter-spacing: 26px;
    letter-spacing: 2px;
    margin: 0;
    margin: 10px 0;
}

h5 {
    color: #ffa400;
    line-height: 28px;
    letter-spacing: 2px;
}

p, .site-content   ul {
    font-size: 16px;
    letter-spacing: 0.9px;
    line-height: 32px;
}

hr {
  border: 0;
  border-bottom: 1px solid #ffa400;
  width: calc(100% - 30px);
  margin: 15px;
}



/* navigation styles
/* ========================================== */
.navbar-default {
    background: #000;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
    margin: 0 !important;
    border-bottom: 3px solid #ffa400;
}
.navbar-default .navbar-brand {
    height: 80px;
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
    color: #ffa400;
}
.navbar-default .navbar-brand:hover {
  color: #fff;
}
.navbar-default .navbar-nav li a {
    margin: 0;
    padding: 30px 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
.navbar-default .navbar-nav li a:hover {
    color: #ffa400;
  }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a.active {
    background-color: #ffa400;
    color: black;
}
.navbar-default .navbar-toggle {
     border: none;
     padding-top: 12px;
  }
.navbar-default .navbar-toggle .icon-bar {
    background: #ffa400;
    border-color: transparent;
  }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}


/* Landing
------------------------------------- */

.top-content {
  background: url(../images/home-bg.jpg);
  background-size: cover;
  padding: 100px 0;
}

.big-link-1 {
    display: inline-block;
    margin: 0 5px;
    padding: 15px 20px;
    border: 0;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    color: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.big-link-1:hover, .big-link-1:focus, .big-link-1:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
}


<<<<<<< HEAD
#mars-map{
    height: 600px;
    background: url(../images/mars.jpg);
}

=======
>>>>>>> 3fd64bfba45813ac94d5fbb48a65119f99bd7385
/***** Page title *****/

.page-title {
    margin-top: 80px;
    padding: 150px 0 150px 0;
}

.page-title-text {
    width: 700px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.page-title-text h1 {
    color: #fff;
    text-shadow: 0 1px 6px rgba(51, 51, 51, 0.2);
}

.page-title-text p {
    margin-top: 20px;
    font-size: 22px;
    line-height: 36px;
    text-shadow: 0 1px 5px rgba(51, 51, 51, 0.4);
}

.page-title-bottom-link {
    padding-top: 25px;
    padding-bottom: 7px;
}

.content-part {
  margin-top: 50px;
  margin-bottom: 50px;
}

.filter {
    text-align: center;
    border: 1px solid #ffa400;
    background-color: transparent;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    margin-bottom: 15px;
}

.single-rover-block, .filter-active {
  text-align: center;
  border: 1px solid #ffa400;
  background-color: #ffa400;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;
  margin-bottom: 15px;
}

.single-rover-block h2 {
  color: #000;
}

.single-rover-block img {
  filter: invert(100%);
  margin: auto;

}

.map-marker{
  position: absolute;
}

.map-marker .fa {
  font-size: 20pt;
  color: #ffa400;
}

.map {
  width: 100%;
  background: url(../images/mars.jpg);
  background-size: cover;
  position: relative;
}
