<!-- START -->
    <div class="page-title top-content">
        <div class="page-title-text wow fadeInUp">
            <h1>MarzRovers<br>The rogue rovers</h1>
        </div>
    </div>

    <div class="row content-part">
      <div class="container">
        <div class="col-md-4">
          <div class="filter" ng-class="roverCtrl.currentSort('d')">
            <div class="col-sm-12" ng-click="roverCtrl.sortRovers('d')">Distance to base</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="filter" ng-class="roverCtrl.currentSort('x')">
            <div class="col-sm-12" ng-click="roverCtrl.sortRovers('x')">X-Coordinate</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="filter" ng-class="roverCtrl.currentSort('y')">
            <div class="col-sm-12" ng-click="roverCtrl.sortRovers('y')">Y-Coordinate</div>
          </div>
        </div>
        <hr />
        <div class="col-md-4" ng-repeat='rover in roverCtrl.rovers'>
          <div class="single-rover-block" ui-sref="rover({id: rover.id})">
          <div class="col-sm-12">
            <img src="/images/rover.png" class="img-responsive">
          </div>
          <div class="col-sm-12">
            <h2>{{rover.name}}</h2>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right">
              <h3>Position</h3>
            </div>
            <div class="col-sm-6 text-left">
              <h4>({{rover.position.x}}, {{rover.position.y}})</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right">
              <h3>Speed</h3>
            </div>
            <div class="col-sm-6 text-left">
              <h4>{{rover.speed}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right">
              <h3>Distance</h3>
            </div>
            <div class="col-sm-6 text-left">
              <h4>{{rover.distanceToBase}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right">
              <h3>Direction</h3>
            </div>
            <div class="col-sm-6 text-left">
              <h4><span ng-class="roverCtrl.getDirectionArrow(rover.direction)"></span></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center" ng-click="roverCtrl.toggleFavorite(rover)">
              <div ng-show="roverCtrl.isRoverFavorite(rover)">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
              </div>
              <div ng-hide="roverCtrl.isRoverFavorite(rover)">
                <i class="fa fa-bookmark-o" aria-hidden="true"></i>
              </div>
            </div>  
          </div>
        </div>
        </div>
      </div>
    </div>
